* {
	text-align:center;
	font-size: 100px;
	background:#ff00aa;	
}

div.txt {
	text-align:center;
	font-size: 100px;
	background:#ff00aa;	
}

body.startTime() {
	text-align:center;
	font-size: 100px;
	background:#ff00aa;	
}
